$navBackground: $bluegray2;

.outer {
  transition: transform 300ms ease, border-radius 300ms linear;
  transition-delay: 800ms;
  transform: scale(1);
  font-size: 3rem;
  position: fixed;
  inset: 0;

  border-radius: 0;
  .inner {
    background-color: $navBackground;
    position: absolute;
    inset: 0;
    color: white;
    border-radius: inherit;

    display: grid;
    place-items: center;

    transition: transform 500ms ease;

    transform: translateX(0);

    ul {
      opacity: 1;
      transition: opacity 1.3s linear;
      transition-delay: 300ms;

      li {
        transition: transform 100ms ease;
        &:hover {
          transform: translate(2px, -5px);
        }
      }

      .link {
        color: currentColor;
        text-decoration: none;

        position: relative;

        &:after,
        &::before {
          --height: 3px;
          --offset: 5%;
          position: absolute;
          content: "";
          width: calc(100% + var(--offset) * 2);
          height: var(--height);
          left: calc(var(--offset) * -1);
          background-color: currentColor;

          transition: transform 300ms ease;
          transform: scaleX(0);
        }
        &::after {
          bottom: 0;
          transform-origin: right;
        }
        &::before {
          bottom: calc(var(--height) * 2);
          transform-origin: left;
        }
        &:hover::after,
        &:hover::before {
          transform: scaleX(1);
        }
        &:hover::after {
          transform-origin: left;
        }
        &:hover::before {
          transform-origin: right;
        }
      }
    }
  }
  &.closed {
    transform: scale(0.95);
    border-radius: 5rem;
    transition-delay: 0ms;
    .inner {
      transform: translateX(calc(-100vw - 5%));
      transition-delay: 300ms;

      ul {
        opacity: 0;
        transition-duration: 0.5s;
        transition-delay: 0ms;
      }
    }
  }
}
.menuButton {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 300%;
  box-sizing: content-box;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  width: max-content;
  display: grid;
  place-items: center;

  svg {
    // color: black;
    z-index: 100;
    transition: color 250ms linear;
    outline: none;
  }

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: $bluegray1;
    border-radius: 50%;

    transition: transform 250ms ease, opacity 100ms linear;
    transform: scale(0);
    opacity: 0;
  }
  &:hover,
  &:focus {
    color: white;
    &::after {
      transition: transform 250ms ease, opacity 250ms linear;
      transform: scale(1);
      opacity: 1;
    }
  }
}
