$turquoise1: #1abc9c;
$turquoise2: #16a085;

$green1: #2ecc71;
$green2: #27ae60;

$blue1: #3498db;
$blue2: #2980b9;

$purple1: #9b59b6;
$purple2: #8e44ad;

$bluegray1: #34495e;
$bluegray2: #2c3e50;

$yellow1: #f1c40f;
$yellow2: #f39c12;

$orange1: #e67e22;
$orange2: #d35400;

$red1: #e74c3c;
$red2: #c0392b;

$gray1: #ecf0f1;
$gray2: #bdc3c7;
$gray3: #95a5a6;
$gray4: #7f8c8d;
