@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type="radio"] {
  vertical-align: text-bottom;
}

input [type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input [type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input[type="checkbox"] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

button,
input[type="button"] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #bdc3c7;
  font-family: 'Roboto', 'sans-serif';
}

html,
body {
  scroll-behavior: auto;
}

.home {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.home .nameCard {
  font-weight: 900;
  letter-spacing: 0.1em;
  background-color: #1d2228;
  color: #e1e2e2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 10px solid #fb8122;
  border-right: 10px solid #fb8122;
}

.home .nameCard .name {
  background-color: #fb8122;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  background-clip: text;
  color: transparent;
  font-size: clamp(2.5rem, 8vw, 8rem);
  position: relative;
}

.home .nameCard .name::before {
  position: absolute;
  content: '<';
  left: 0;
  top: 0;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  color: rgba(255, 255, 255, 0.1);
}

.home .nameCard .name::after {
  position: absolute;
  content: '/>';
  right: 0;
  top: 0;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  color: rgba(255, 255, 255, 0.1);
}

.home .nameCard .name span {
  font-weight: 900;
  cursor: default;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}

.home .nameCard .name span:hover {
  -webkit-transition: text-shadow 50ms;
  transition: text-shadow 50ms;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.title {
  text-align: center;
  padding: 1.5rem;
}

.title h1 {
  font-size: clamp(3rem, 5vw, 6rem);
  color: #fb8122;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.title h1::after {
  position: absolute;
  content: '';
  background-color: currentColor;
  width: 80%;
  height: 0.15em;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(10%, 100%);
          transform: translate(10%, 100%);
}

.main {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.main.open {
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

.about {
  background-color: #e1e2e2;
  min-height: 100vh;
  width: 100%;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.about .about-icons-container {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 2rem auto;
}

.about .about-icons-container .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.about .about-icons-container .icon-container .icon {
  background-color: #1d2228;
  color: #e1e2e2;
  padding: 1.5rem;
  font-size: 6rem;
  border-radius: 1rem;
}

.about .about-icons-container .icon-container .icon-title {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.about .about-icons-container .icon-container .desc {
  max-width: 12rem;
  text-align: center;
}

@media screen and (max-width: 786px) {
  .about .about-icons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}

.about .about-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .about .about-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-content-container .skillBox {
    margin-inline: auto !important;
    width: 80%;
  }
}

.about .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

.about .profile-container .image-container {
  border-radius: 50%;
  width: 18rem;
}

.about .profile-container .image-container img {
  background-color: #fb8122;
  padding: 0.5em;
  width: 100%;
  display: block;
  border-radius: inherit;
}

.about .profile-container .profile-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.about .profile-container .profile-desc {
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
  width: 85%;
  max-width: 500px;
  text-align: center;
}

.about .skills-chart {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.about .skills-chart .skillBox {
  margin: 0.5rem 2rem;
  width: clamp(50%, 550px, 90%);
}

.about .skills-chart .skillBox .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about .skills-chart .skillBox .labels p {
  font-size: 1.15rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.about .skills-chart .skillBox .skill {
  height: 1.5rem;
  width: 100%;
  border: 2px solid #1d2228;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.125rem;
}

.about .skills-chart .skillBox .skill .skill-level {
  background-color: #fb8122;
  width: 100%;
  height: 100%;
}

.projects {
  background-color: #1d2228;
  min-height: 100vh;
  width: 100%;
}

.projects .title h1 {
  color: #e1e2e2;
}

.projects .projects-container {
  width: clamp(16rem, 80%, 100rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 1px;
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (max-width: 1280px) {
  .projects .projects-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .projects .projects-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.projects .projects-container .project {
  position: relative;
  overflow: hidden;
}

.projects .projects-container .project img {
  display: block;
}

.projects .projects-container .project:hover .overlay {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  opacity: 1;
}

.projects .projects-container .project:hover .overlay h1,
.projects .projects-container .project:hover .overlay a {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects .projects-container .project .overlay {
  position: absolute;
  background-color: #e1e2e2;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 200ms ease 150ms;
  transition: opacity 200ms ease 150ms;
  opacity: 0;
}

.projects .projects-container .project .overlay h1 {
  color: #1d2228;
  font-size: 2rem;
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 100ms linear, -webkit-transform 150ms ease;
  transition: opacity 100ms linear, -webkit-transform 150ms ease;
  transition: transform 150ms ease, opacity 100ms linear;
  transition: transform 150ms ease, opacity 100ms linear, -webkit-transform 150ms ease;
}

.projects .projects-container .project .overlay a {
  color: #fb8122;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.125em solid #fb8122;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: background-color 150ms linear, color 150ms linear, opacity 100ms linear, -webkit-transform 200ms ease;
  transition: background-color 150ms linear, color 150ms linear, opacity 100ms linear, -webkit-transform 200ms ease;
  transition: background-color 150ms linear, color 150ms linear, transform 200ms ease, opacity 100ms linear;
  transition: background-color 150ms linear, color 150ms linear, transform 200ms ease, opacity 100ms linear, -webkit-transform 200ms ease;
}

.projects .projects-container .project .overlay a:hover {
  background-color: #fb8122;
  color: #e1e2e2;
}

.resume {
  background-color: #e1e2e2;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 1124px) {
  .resume .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .resume .row .info-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.resume .personal-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.resume .personal-info-container .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume .personal-info-container .info-container .icon {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .resume .personal-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}

.resume .info-card-container {
  margin: 2rem;
}

.resume .info-card-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 768px) {
  .resume .info-card-container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.resume .info-card-container .info-card {
  min-width: 50%;
  text-align: center;
  padding: 1rem;
}

.resume .info-card-container .info-card .info-title {
  color: #fb8122;
  font-weight: 600;
  padding: 1rem;
}

.resume .info-card-container .info-card ul {
  list-style: circle;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.resume .info-card-container .info-card .list {
  list-style: none;
  text-align: left;
}

.resume .info-card-container .info-card .list .date {
  text-align: center;
  font-size: 1.15rem;
  margin-block: 1rem 0.5rem;
}

.resume .info-card-container .info-card .list .date:first-child {
  margin-top: 0;
  padding-top: 0;
}

.resume .info-card-container .info-card .list .highlighted {
  font-weight: bold;
  color: #fb8122;
}

.resume .info-card-container .info-card .list .job-name {
  font-size: 1.15rem;
  margin-block: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
  color: #fb8122;
}

.resume .info-card-container .info-card .list .job-name:first-child {
  margin-top: 0;
  padding-top: 0;
}

.resume .info-card-container .info-card .skills {
  list-style: none;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  padding: 0 2rem;
}

.resume .info-card-container .info-card .skills li {
  padding: 0.25rem 0;
}

.resume .info-card-container .info-card .skills li::before {
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #fb8122;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.resume .resume-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 0.25rem solid #fb8122;
  border-radius: 0.5rem;
  color: #fb8122;
  text-decoration: none;
  font-size: 1.75rem;
  padding: 0.25em 0.75em;
  margin: 0 auto 1rem auto;
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
}

.resume .resume-button:hover {
  background-color: #fb8122;
  color: #e1e2e2;
}

.contact {
  background-color: #1d2228;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .title h1 {
  color: #e1e2e2;
}

.contact .call-to-action {
  color: #fb8122;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 2rem;
}

.contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(50%, 550px, 90%);
  margin: 2rem auto;
  margin-bottom: 4rem;
}

.contact .contact-form input,
.contact .contact-form textarea {
  margin: 0.25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.5rem;
  color: #e1e2e2;
  background-color: #14181d;
  resize: none;
}

.contact .contact-form button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: transparent;
  border: 0.25rem solid #e1e2e2;
  color: #e1e2e2;
  font-size: 1.75rem;
  padding: 0.25em 0.75em;
  margin: 0.5rem 0;
  margin-inline: auto 0.5rem;
}

.contact footer {
  background-color: #14181d;
  width: 100%;
  margin-top: auto;
}

.contact footer .top-button {
  background-color: #fb8122;
  font-size: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: #e1e2e2;
  padding: 0.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact footer .socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-block: 1rem 2rem;
}

.contact footer .socials-container .icon {
  background-color: #1d2228;
  color: #e1e2e2;
  padding: 0.5rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.contact footer .socials-container .icon:hover {
  background-color: #fb8122;
}

.contact footer .copyright {
  font-size: 1.25rem;
  margin: 1rem;
  text-align: center;
  color: #e1e2e2;
}

.contact footer .copyright .name {
  color: #fb8122;
}

.outer {
  -webkit-transition: border-radius 300ms linear, -webkit-transform 300ms ease;
  transition: border-radius 300ms linear, -webkit-transform 300ms ease;
  transition: transform 300ms ease, border-radius 300ms linear;
  transition: transform 300ms ease, border-radius 300ms linear, -webkit-transform 300ms ease;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 3rem;
  position: fixed;
  inset: 0;
  z-index: 1;
  border-radius: 0;
}

.outer .inner {
  background-color: #2a2f35;
  position: absolute;
  inset: 0;
  color: #e1e2e2;
  border-radius: inherit;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0 0 20px #00000066;
          box-shadow: 0 0 20px #00000066;
}

.outer .inner ul {
  opacity: 1;
  -webkit-transition: opacity 1.3s linear;
  transition: opacity 1.3s linear;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  width: clamp(30%, 400px, 90%);
  background-color: #1d2228;
  padding: 5rem 3rem;
  border-radius: 2.5rem;
}

.outer .inner ul li {
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  text-align: center;
}

.outer .inner ul li:hover {
  -webkit-transform: translate(2px, -5px);
          transform: translate(2px, -5px);
}

.outer .inner ul .link {
  color: currentColor;
  text-decoration: none;
  position: relative;
}

.outer .inner ul .link:after, .outer .inner ul .link::before {
  --height: 3px;
  --offset: 5%;
  position: absolute;
  content: '';
  width: calc(100% + var(--offset) * 2);
  height: var(--height);
  left: calc(var(--offset) * -1);
  background-color: #fb8122;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.outer .inner ul .link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.outer .inner ul .link::before {
  bottom: calc(var(--height) * 2);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.outer .inner ul .link:hover::after, .outer .inner ul .link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.outer .inner ul .link:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.outer .inner ul .link:hover::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

.outer.closed {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border-radius: 5rem;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: right 0s linear 800ms, -webkit-transform 200ms ease;
  transition: right 0s linear 800ms, -webkit-transform 200ms ease;
  transition: right 0s linear 800ms, transform 200ms ease;
  transition: right 0s linear 800ms, transform 200ms ease, -webkit-transform 200ms ease;
  right: 100%;
}

.outer.closed .inner {
  -webkit-transform: translateX(calc(-100vw - 5%));
          transform: translateX(calc(-100vw - 5%));
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.outer.closed .inner ul {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.menuButton {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 350%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menuButton svg {
  color: #fb8122;
  z-index: 100;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  outline: none;
}

.menuButton::after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: #fb8122;
  border-radius: 50%;
  -webkit-transition: opacity 100ms linear, -webkit-transform 250ms ease;
  transition: opacity 100ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 100ms linear;
  transition: transform 250ms ease, opacity 100ms linear, -webkit-transform 250ms ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.menuButton:hover svg {
  color: #e1e2e2;
}

.menuButton:hover::after {
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease;
  transition: opacity 250ms linear, -webkit-transform 250ms ease;
  transition: transform 250ms ease, opacity 250ms linear;
  transition: transform 250ms ease, opacity 250ms linear, -webkit-transform 250ms ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */