@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background: #bdc3c7;
  font-family: "Roboto", "sans-serif";
}

.outer {
  transition: transform 300ms ease, border-radius 300ms linear;
  transition-delay: 800ms;
  transform: scale(1);
  font-size: 3rem;
  position: fixed;
  inset: 0;
  border-radius: 0;
}
.outer .inner {
  background-color: #2c3e50;
  position: absolute;
  inset: 0;
  color: white;
  border-radius: inherit;
  display: grid;
  place-items: center;
  transition: transform 500ms ease;
  transform: translateX(0);
}
.outer .inner ul {
  opacity: 1;
  transition: opacity 1.3s linear;
  transition-delay: 300ms;
}
.outer .inner ul li {
  transition: transform 100ms ease;
}
.outer .inner ul li:hover {
  transform: translate(2px, -5px);
}
.outer .inner ul .link {
  color: currentColor;
  text-decoration: none;
  position: relative;
}
.outer .inner ul .link:after, .outer .inner ul .link::before {
  --height: 3px;
  --offset: 5%;
  position: absolute;
  content: "";
  width: calc(100% + var(--offset) * 2);
  height: var(--height);
  left: calc(var(--offset) * -1);
  background-color: currentColor;
  transition: transform 300ms ease;
  transform: scaleX(0);
}
.outer .inner ul .link::after {
  bottom: 0;
  transform-origin: right;
}
.outer .inner ul .link::before {
  bottom: calc(var(--height) * 2);
  transform-origin: left;
}
.outer .inner ul .link:hover::after, .outer .inner ul .link:hover::before {
  transform: scaleX(1);
}
.outer .inner ul .link:hover::after {
  transform-origin: left;
}
.outer .inner ul .link:hover::before {
  transform-origin: right;
}
.outer.closed {
  transform: scale(0.95);
  border-radius: 5rem;
  transition-delay: 0ms;
}
.outer.closed .inner {
  transform: translateX(calc(-100vw - 5%));
  transition-delay: 300ms;
}
.outer.closed .inner ul {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0ms;
}

.menuButton {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 300%;
  box-sizing: content-box;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: grid;
  place-items: center;
}
.menuButton svg {
  z-index: 100;
  transition: color 250ms linear;
  outline: none;
}
.menuButton::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #34495e;
  border-radius: 50%;
  transition: transform 250ms ease, opacity 100ms linear;
  transform: scale(0);
  opacity: 0;
}
.menuButton:hover, .menuButton:focus {
  color: white;
}
.menuButton:hover::after, .menuButton:focus::after {
  transition: transform 250ms ease, opacity 250ms linear;
  transform: scale(1);
  opacity: 1;
}/*# sourceMappingURL=index.css.map */